@import '~antd/dist/antd.css';
@import '../src/css/common.less';
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.common-btn {
  background: @light-blue;
  border-color: @light-blue;
  &:hover, &:focus {
    background: @light-blue;
    border-color: @light-blue;
  }
}

#root {
  .Toastify__toast-container {
    width: 450px;
    .Toastify__toast {
      padding: 10px 30px;
    }
  }
}

.page-header {
  width: 100%;
  min-width: 450px;
  height: 70px;
  background: #fff;
  top: 0;
  z-index: 999;
  position: fixed;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  .menu-icon,
  .current-nav,
  .mask {
    display: none;
  }
  .img-nav-ul {
      overflow: hidden;
      &:hover {
          cursor: pointer;
      }
      li {
          float: left;
          padding: 0 20px;
          line-height: 70px;
          &.active {
              color: @dark-blue;
          }
          &.to-index-link {
            position: relative;
            float: right;
            text-align: center;
            line-height: 70px;
            color: rgba(0, 0, 0, 0.65);
            &:after {
              content: '';
              right: 0;
              width: 3px;
              z-index: -1;
              position: absolute;
              display: inline-block;
              height: 70px;
              background: @common-blue;
              transition: all .3s;
            }
            &:hover {
              color: @common-font-color;
            }
            &:hover:after {
              width: 100%
            }
            .op-btn {
              margin-left: 10px;
            }
        }
      }
  }
}

.container {
  position: absolute;
  height: calc(100% - 70px);
  width: 100%;
  min-width: 1100px;
  top: 70px;
  overflow-y: auto;
}

.tag-list {
  li {
    float: left;
    margin: 0 10px;
    border: 1px solid #8fe9e0;
    padding: 3px 15px;
    background: #e6fffb;
    border-radius: 30px;
    color: #35cbcb;
  }
} 

.back-btn {
  transform: scale(1.2);
  padding: 7px;
  &:hover {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}


@media screen and (max-width: 960px) {
  .page-header {
    .img-nav-ul {
      box-shadow: 0 0 10px #0000001a;
      text-align: center;
      background: #fff;
      transform: translateY(-100%);
      animation: showNav .5s;
      animation-fill-mode: forwards;
      li {
        float: none;
        &.to-index-link {
          float: none;
          &:after {
            display: none;
          }
        }
      }
    }
    .menu-icon {
      display: block; 
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      color: @common-blue;
    }
    .current-nav {
      position: absolute;
      display: block;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      left: 50%;
    }
  }

  .nav-mask {
    display: block;
    position: absolute;
    z-index: 3;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
  }

  @keyframes showNav {
    to {
      transform: translateY(0);
    }
  }
}